*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 20px;
}
.header{
    display: flex;
  
}
.header .logo{
    margin-left: auto;
}
.panels{
    display: flex;
    border: 1px solid #333;
    margin-top: 10px;

}
pre{
    display: inline-block;
  background-color: #f7f7f7;
  color: #333;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4;
  font-family: 'Courier New', Courier, monospace;
}
.panel{
    width: 50%;
}
#preview{
    background-color: #333333;
    color: white;
    padding: 20px;
    font-size: 12px;
   
}
.error{
    color: red !important;
}

.preview h4{
    background-color: #666;
    margin: 0;
    padding: 4px;
    color: white;
    font-size: 14px;
}